<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{server}}</title>
</head>
<body>
    <h1>{{server}}</h1>
    <p>현재 세션 방문 횟수: {{count}}</p>

    <a href="/app1">App1로 이동</a><br>
    <a href="/app2">App2 새로고침</a>
</body>
</html>